.q{
    border: 1px solid white;
    outline: none;
    background: none;
}

.s{
    color:black;
}
button{
    background-color: white;
}
body{
   background-image: url(robert-lukeman-_RBcxo9AU-U-unsplash.jpg);
    
   background-size: cover;
}
header{
    color:white;
    font-style:bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: bisque;
    -webkit-text-stroke: 0.5px;
    
}
